.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #bba6a6;
    padding: 0 15px;
}

.menu {
    list-style: none;
    text-align: right;
    display: flex;
}

.menu li {
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu li a,
.menu li span {
    text-decoration: none;
    color: black;
}

.logo {
    cursor: pointer;
}

@media(max-width: 767.98px) {
    .nav {
        align-items: start;
    }

    .menu {
        flex-direction: column;
    }

    .menu li:first-child {
        order: 999;
    }
}