.detailpage {
    width: 75%;
    margin: 10px auto;
    display: flex;
    padding: 5px;
    background-color: #e4cccc;
    border-radius: .8rem;
}

.cabecera {
    margin: auto;
}

.bandera {
    position: relative;
    width: 35rem;
    height: 25rem;
}

.pie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

@media(max-width: 767.98px) {
    .detailpage {
        flex-direction: column;
    }

    .bandera {
        width: 100%;
        height: auto;
    }
}

@media(min-width: 768px) and (max-width: 991.98px) {

    .bandera {
        width: 25rem;
        height: auto;
    }
}