.listado {
    background-color: #bba6a6;
    list-style: none;
    text-align: start;
    padding: .5rem;
}

.listado li {
    margin: 0;
    padding: 0;
}

.listado li a,
.listado li span {
    text-decoration: none;
    color: black;
    font-weight: 500;
}