.formulario {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 25px auto;
    padding: 30px;
    row-gap: 10px;
    background-color: #e76a6a;
    border-radius: 12px;
}

.formulario input,
.formulario button {
    padding: 12px;
    margin: 5px auto;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    width: 90%;
}

.formulario button {
    margin: auto;
    background-color: #4ec7f0;
    font-weight: bolder;
    cursor: pointer;
    width: 30% !important;
}

.formulario label input {
    transform: scale(1.5);

}

.formulario .temporada {
    display: flex;
    margin: 15px;
    gap: 15px;
    justify-content: center;

}

.paises {
    display: flex;
    flex-direction: column;
}

.paises input {
    width: 80%;
}

.addPaises {
    display: flex;
}

.addPaises :first-child {
    background-color: rgb(241, 33, 33);
}

.addPaises :last-child {
    background-color: rgb(111, 184, 111);
}