.footer {
    background: #bba6a6;
    padding: 10px 5%;

}

.containerUp,
.containerDown {
    list-style: none;
    text-align: right;
    display: flex;
    justify-content: center;

}

.containerUp li {
    margin: 0;
}

.containerUp a,
.containerUp span {
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

.containerDown a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

@media(max-width: 767.98px) {
    .containerUp {
        flex-direction: column;
        text-align: center;
    }
}